<input type='text' id='username_field' placeholder='Username'></input>
<button id='get_popular_purchases_button'>Get Popular Purchases</button>
<button id='get_empty_username'>""</button>
<button id='get_steve'>steve</button>
<button id='get_morgan_barton'>Morgan_Barton</button>
<div id='popular_purchases_display'></div>
